.background {
  background: #b1a188;
  max-width: 1440px;

  padding-bottom: 10%;

}

.big-box-sizes {
  width: 100%;
  padding: 0 0 10% 0;
  box-sizing: border-box;
  display: flex;
}
.side-bar {
  max-width: 420px;
}
.size-name {
  text-shadow: 0px 0px 6.6299638748168945px #177c90;
  font-family: Quicksand;
  font-size: 340px;
  font-weight: 700;
  line-height: 320px;
  letter-spacing: -9px;
  color: #b1a188;
  z-index: 0;
}
.copy {
  margin: -170px 50px 0 50px;
  color: #fff;
  font-family: Hind Siliguri;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.volver{
  color:#177c90;
  margin-left: 50px;
  font-size: 12px;
}
.image-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 33px;
  grid-template-rows: 100px auto;
  width: 100%;
  padding-left: 30px;
  gap: 30px;
}
.boxes-in-page{
  grid-column: 4;
  margin: 18rem 0 0 auto;
 
}
.inner-header {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.inner-items {
  color: #fff;
  font-family: Hind Siliguri;
  font-size: 20px;
  font-weight: 700;
}
.inner-items:hover {
  color: #a5e5f2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active {
  color: #a5e5f2;
  font-family: Hind Siliguri;
  font-size: 20px;
  font-weight: 700;
}
.img-container {
  grid-column: 1/4;
}
.img-box {
  display: flex;
  margin-top: 24px;
}
.sub-xs {
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
}
.single-box {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.single-box-small {
  width: 150px;
  height: 150px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.single-box-small img {
  width: 100%;
  height: 100%;
}
.single-box img {
  width: 100%;
  height: 100%;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}
.single-box img:hover {
  width: 300px;
  height: 300px;
}
.single-box-m{
  margin-right: 0;
  height: 130px;
}
.single-box-m-med{
  height: 140px;
}
.single-box-m-tall{
  width: 152px;
  display: flex;
  margin-right: 12px;
}
.single-box-large{
  width: 162px;
  display: flex;
  margin-right: 12px; 
}
.single-box-large img{
width: 100%;
}
.single-box-large-wide {
  width: 188px;
  display: flex;
  margin-right: 12px;
}

@media only screen and (min-width: 1081px) and (max-width: 1261px) {

  .side-bar{
    width: 320px;
  }
  .size-name{
    font-size: 270px;
    width: 320px;
  }
  .copy{
    font-size: 24px;
    line-height: 32px;
  }
  .img-box{
    flex-wrap: wrap;
  }
  .single-box-large{
    min-width: 140px;
    max-width: 140px;
    margin-left: 6px;
  }
  .single-box-large-wide{
    width: 150px;
  }
  .single-box-large-wide img{
    width: 100%;
  }
  .long-background{
    height: 280vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {

  .side-bar{
    width: 280px;
  }
  .size-name{
    font-size: 230px;
    width: 280px;
  }
  .copy{
    font-size: 20px;
    line-height: 28px;
  }
  .inner-header{
    grid-column: 1/4;
  }
  .img-box{
    flex-wrap: wrap;
  }
  .img-box img{
    width: 130px;
  }
  .single-box-m-med{
    width: 190px;
    height: 120px;
  }
  .single-box-m-med img{
    width: 190px;
  }
 .single-box-m-tall{
  width: 120px;
 }
 .single-box-m-tall img{
  width: 100%;
 }
 .single-box-large-wide{
  width: 120px;
}
.single-box-large-wide img{
  width: 100%;
}
.single-box-large{
  width:130px ;
}
.single-box-m{
  height: 100px ;
}
.single-box-m img{
  width: 180px;
}
.single-box-small{
  width: 120px;
  height: 120px;
}

}
/* @media only screen and (min-width: 300px) and (max-width: 767px){
  .long-background{
    height: 300vh;
  }
  .background{
    height: 150vh;
  }
  .side-bar{
    max-width: 220px;
  }
  .size-name{
    font-size: 160px;
    width: 220px;
  }
  .copy{
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-left: 30px;
    margin-right: 20px;
  }
  .volver{
    margin-left: 30px;
  }
  .img-box{
    flex-wrap: wrap;
  }
  .single-box-m-tall{
    width: 100px ;
  }
  .single-box-m-tall img{
    width: 100px ;
  }
  .single-box-large{
    width: 100px;
  }
  .single-box-large img{
    width: 100%;
  }
  .boxes-in-page{
    margin-top: 350px ;
  }
} */

.mobile-sizes-box{
  margin: 0;
  padding: 1px 24px;
}
.mobile-side-bar{
  padding: .5rem 0 2.8rem 0;
  overflow: hidden;
}
.mobile-side-bar h1{
  font-size: 18rem;
  line-height: 12rem;
  
}
.mobile-copy{
  margin: -170px 40px 0 40px;
  color: #fff;
  font-family: Hind Siliguri;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
}
.mobile-back{
  color: #177c90;
  margin-left: 40px;
  font-size: 14px;
}
.mobile-image-section{
  width: 100%;
}
.mobile-img-box{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.single-box-large-m{
  width: 24%;
}
.single-box-large-m-4{
display: none;
}
.single-box-small-m-4{
  display: none;
  }
.single-box-large-m img{
  width: 100%;
}
.long-background-mobile{
  background: #b1a188;
  max-width: 1440px;
  padding-bottom: 10%;
}
.single-box-small-m{
  width: 30%;
}
.single-box-small-m img{
  width: 100%;
}
.single-box-mobile{
  width: 48%;
}
.single-box-mobile img{
  width: 100%;
}
.single-box-last-m img{
  width: 50%;
}
