.background {
  background: #b1a188;
  width: 100vw;
  height: 120vh;
  padding-bottom: 10%;

}
.long-background{
  background: #b1a188;
  width: 100vw;
  height: 210vh;
  padding-bottom: 10%;
}
.big-box-sizes {
  width: 100vw;
  padding: 0 4% 10% 0;
  box-sizing: border-box;
  display: flex;
}
.side-bar {
  max-width: 420px;
}
.size-name {
  text-shadow: 0px 0px 6.6299638748168945px #177c90;
  font-family: Quicksand;
  font-size: 340px;
  font-weight: 700;
  line-height: 320px;
  letter-spacing: -9px;
  color: #b1a188;
}
.copy {
  margin: -170px 50px 0 50px;
  color: #fff;
  font-family: Hind Siliguri;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.volver{
  color:#177c90;
  margin-left: 50px;
  font-size: 12px;
}
.image-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px auto;
  width: 100%;
  padding-left: 30px;
  gap: 30px;
}
.inner-header {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.inner-items {
  color: #fff;
  font-family: Hind Siliguri;
  font-size: 20px;
  font-weight: 700;
}
.inner-items:hover {
  color: #a5e5f2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active {
  color: #a5e5f2;
  font-family: Hind Siliguri;
  font-size: 20px;
  font-weight: 700;
}
.img-container {
  grid-column: 1/4;
}
.img-box {
  display: flex;
  margin-top: 24px;
}
.sub-xs {
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
}
.single-box {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.single-box-small {
  width: 150px;
  height: 150px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.single-box-small img {
  width: 100%;
  height: 100%;
}
.single-box img {
  width: 100%;
  height: 100%;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}
.single-box img:hover {
  width: 300px;
  height: 300px;
}
.single-box-m{
  margin-right: 0;
  height: 130px;
}
.single-box-m-tall{
  width: 152px;
  display: flex;
  margin-right: 12px;
}
.single-box-large{
  width: 162px;
  display: flex;
  margin-right: 12px; 
}
.single-box-large-wide {
  width: 188px;
  display: flex;
  margin-right: 12px;
}
.boxes-in-page {
  z-index: 2;
  position: absolute;
  margin-left: calc(100vw - 33px);
  margin-top: 450px;
}
@media only screen and (min-width: 1081px) and (max-width: 1261px) {
  .background{
    height: 140vh;
  }
  .boxes-in-page{
    margin-top: 400px;
  }
  .side-bar{
    width: 320px;
  }
  .size-name{
    font-size: 270px;
    width: 320px;
  }
  .copy{
    font-size: 24px;
    line-height: 32px;
  }
  .img-box{
    flex-wrap: wrap;
  }
  .single-box-large{
    min-width: 140px;
    max-width: 140px;
    margin-left: 6px;
  }
  .single-box-large-wide{
    width: 150px;
  }
  .single-box-large-wide img{
    width: 100%;
  }
  .long-background{
    height: 280vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .long-background{
    height: 230vh;
  }
  .background{
    height: 170vh;
  }
  .side-bar{
    width: 280px;
  }
  .size-name{
    font-size: 230px;
    width: 280px;
  }
  .copy{
    font-size: 20px;
    line-height: 28px;
  }
  .img-box{
    flex-wrap: wrap;
  }
  .img-box img{
    width: 130px;
  }
 .single-box-m-tall{
  width: 120px;
 }
 .single-box-m-tall img{
  width: 100%;
 }
 .single-box-large-wide{
  width: 120px;
}
.single-box-large-wide img{
  width: 100%;
}
.single-box-large{
  width:130px ;
}
.single-box-m img{
  width: 250px;
}

}
@media only screen and (min-width: 300px) and (max-width: 767px){
  .long-background{
    height: 300vh;
  }
  .background{
    height: 150vh;
  }
  .side-bar{
    max-width: 220px;
  }
  .size-name{
    font-size: 160px;
    width: 220px;
  }
  .copy{
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-left: 30px;
    margin-right: 20px;
  }
  .volver{
    margin-left: 30px;
  }
  .img-box{
    flex-wrap: wrap;
  }
  .single-box-m-tall{
    width: 100px ;
  }
  .single-box-m-tall img{
    width: 100px ;
  }
  .single-box-large{
    width: 100px;
  }
  .single-box-large img{
    width: 100%;
  }
  .boxes-in-page{
    margin-top: 350px ;
  }
}