.background-img {
  background-image: url(./../../../public/img/BackgroundBaloon.jpg);
  background-size: cover;
  width: 100%;
  height: 900px;
}
.menu {
  display: flex;
  padding-left: 650px;
}
.menu-item {
  font-size: 11px;
  color: #928b7b;
  margin-right: 45px;
  font-weight: 600;
}
.menu-item:hover {
  font-size: 11px;
  color: #e0d4b9;
  margin-right: 45px;
  font-weight: 600;
}
.home-title {
  font-size: 40px;
  font-weight: 300;
  color: #2fa5be;
  position: absolute;
  margin-top: 550px;
  margin-left: 640px;
}
.home-text {
  display: flex;
  flex-direction: column;
  padding-top: 315px;
  margin-bottom: 12px;
}
.text {
  color: #2fa5be;
  line-height: 4px;
  font-size: 16px;
  margin-bottom: -1px;
  text-align: right;
  margin-right: 40px;
  font-weight: 300;
}
.boxes {
  float: right;
}
.section-one {
  width: 100vw;
  height: 1200px;
  background: linear-gradient(
    180deg,
    rgb(132, 121, 104),
    rgba(231, 219, 195, 1)
  );
  margin: 0;
  padding: 0;
}
.container-one {
  text-align: center;
  margin-top: 100px;
  margin: 0 auto;
  position: relative;
  width: 100vw;
}
.title-one {
  color: #a5e8f5;
  font-size: 75px;
  font-weight: 500;
  margin: 0;
  padding-top: 200px;
  position: absolute;
  margin: -60px 0 0 541px;
}
.title-two {
  color: #2fa5be;
  font-size: 124.032px;
  font-weight: 600;
  position: absolute;
  margin: 190px 0 0 260px;
}
.title-three {
  color: #177c90;
  font-size: 186.048px;
  font-weight: 700;
  position: absolute;
  margin: 270px 0 0 452px;
}
.title-four {
  color: #064855;
  font-size: 248.064px;
  font-weight: 800;
  margin: 400px 0 0 254px;
  position: absolute;
}
.copy-one {
  width: 400px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 230px 0 0 705px;
}
.copy-one-bis {
  width: 400px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 266px 0 0 705px;
}
.copy-two {
  width: 300px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 340px 0 0 150px;
}
.copy-three {
  width: 400px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 485px 0 0 890px;
}
.copy-four {
  width: 440px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 680px 0 0 264px;
}
.boxes-two {
  float: right;
  padding-top: 800px;
}
.section-two {
  background-image: url(../../../public/img/Sizes.png);
  width: 100vw;
  background-size: cover;
  margin: 0;
}
.box{
  width: 100vw;
  height: 50%;
  display: flex;
  justify-content:space-between ;
}
.size-text {
  color: #e0d4b9;
  padding: 0;
  margin: 0;
  font-size: 28px;
  line-height: 30px;
}
.xs {
  margin-top: 40%;
  margin-left: 25%;
}
.boxes-xs {
  margin-top: 35%;
}
.square {
  width: 33px;
  height: 33px;
  color: #131210;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  padding-top: 6px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.square-color-one {
  background-color: #e7dbc3;
}
.square-color-two {
  background-color: #c4b8a0;
}
.square-color-three {
  background-color: #928b7b;
}
.square-color-four {
  background-color: #686257;
}
.square-color-five {
  background-color: #49463e;
}
.see-more {
  color: #177c90;
  float: right;
  margin-top: 0;
}
.sm {
  margin-top: 20%;
  margin-left: 40%;
}
.boxes-sm {
  margin-top: 16%;
}
.md {
  margin-top: 30%;
  margin-left: 20%;
}
.boxes-md {
  margin-top: 25%;
}
.lg {
  margin-top: 30%;
  margin-left: 45%;
}
.boxes-lg {
  margin-top: 25%;
}
.xl {
  margin-top: 22%;
  margin-left: 38%;
  margin-bottom: 30%;
}
.boxes-xl {
  margin-top: 17%;
}
.footer-background {
  background-color: #010101;
}
.footer-bubble {
  width: 40%;
  padding: 150px 0 80px 150px;
}
.mail {
  color: #a5e5f2;
  position: absolute;
  margin-top: -160px;
  margin-left: 590px;
}
.sign {
  color: #686257;
  padding: 20px 0 20px 20px;
  font-size: 12px;
  margin: 0;
}

@media only screen and (min-width: 1081px) and (max-width: 1261px) {
  .section-one {
    height: 1000px;
  }
  .title-one {
    font-size: 70px;
    margin: -60px 0 0 430px;
  }
  .title-two {
    font-size: 110px;
    margin: 190px 0 0 181px;
  }
  .title-three {
    font-size: 140px;
    margin: 270px 0 0 352px;
  }
  .title-four {
    font-size: 200px;
    margin: 370px 0 0 172px;
  }
  .copy-one {
    width: 400px;
    font-size: 13px;
    line-height: 16px;
    margin: 230px 0 0 575px;
  }
  .copy-one-bis {
    width: 400px;
    font-size: 13px;
    line-height: 16px;
    margin: 262px 0 0 575px;
  }
  .copy-two {
    width: 270px;
    font-size: 13px;
    line-height: 16px;
    margin: 324px 0 0 80px;
  }
  .copy-three {
    width: 360px;
    font-size: 13px;
    line-height: 16px;
    margin: 438px 0 0 685px;
  }
  .copy-four {
    width: 440px;
    font-size: 13px;
    line-height: 16px;
    margin: 596px 0 0 180px;
  }
  .boxes-two {
    padding-top: 650px;
  }
  .size-text {
    font-size: 20px;
    line-height: 22px;
  }

  .mail {
    margin-top: -140px;
    margin-left: 500px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .background-img {
    width: 100vw;
    height: 700px;
  }
  .menu {
    padding-left: 500px;
  }
  .menu-item {
    margin-right: 20px;
  }
  .menu-item:hover {
    margin-right: 20px;
  }
  .home-title {
    font-size: 30px;
    margin-top: 420px;
    margin-left: 500px;
  }
  .home-text {
    padding-top: 178px;
  }
  .text {
    font-size: 14px;
  }
  .section-one {
    height: 870px;
  }
  .container-one {
    padding-top: 40px;
  }
  .title-one {
    font-size: 60px;
    margin: -60px 0 0 280px;
  }
  .title-two {
    font-size: 90px;
    margin: 186px 0 0 77px;
  }
  .title-three {
    font-size: 120px;
    margin: 250px 0 0 219px;
  }
  .title-four {
    font-size: 160px;
    margin: 340px 0 0 92px;
  }
  .copy-one {
    width: 350px;
    font-size: 12px;
    line-height: 14px;
    margin: 212px 0 0 400px;
  }
  .copy-one-bis {
    width: 350px;
    font-size: 12px;
    line-height: 14px;
    margin: 242px 0 0 400px;
  }
  .copy-two {
    width: 180px;
    font-size: 13px;
    line-height: 14px;
    margin: 295px 0 0 36px;
  }
  .copy-three {
    width: 280px;
    font-size: 11px;
    line-height: 14px;
    margin: 388px 0 0 505px;
  }
  .copy-four {
    width: 440px;
    font-size: 13px;
    line-height: 14px;
    margin: 526px 0 0 98px;
  }
  .boxes-two {
    padding-top: 600px;
  }
  .size-text {
    font-size: 18px;
    line-height: 20px;
  }
  .mail {
    margin-top: -140px;
    margin-left: 450px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .section-two {
    background-image: url(../../../public/img/Sizes.png);
    width: 100vw;
    height: 1000px;
    background-size: cover;
    margin: 0;
    text-align: center;
  }
  .big-box {
    padding: 0 40px;
    text-align: center;
  }
  .xs {
    margin-top: 170px;
    margin-left: 0;
  }
  .size-text {
    font-size: 16px;
    text-align: center;
    line-height: 16px;
  }
  .sm {
    margin-top: 330px;
    margin-left: 0px;
  }
  .md {
    margin-top: 470px;
    margin-left: 0px;
  }
  .lg {
    margin-top: 640px;
    margin-left: 0px;
  }
  .xl {
    margin-top: 790px;
    margin-left: 0px;
  }
  .boxes-xs .boxes-sm .boxes-md .boxes-lg .boxes-xl {
    display: none;
  }
  .footer-bubble {
    width: 60%;
    padding: 0;
  }
  .mail {
    margin-top: -40px;
    margin-left: 170px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px){
    .background-img{
        width: 100vw;
        height: 700px;
    }
    .menu{
        padding-left: 500px;
    }
    .menu-item{
        margin-right: 20px;
    }
    .menu-item:hover{
        margin-right: 20px;
    }
    .home-title{
        font-size: 30px;
        margin-top: 420px;
        margin-left: 500px;
    }
    .home-text{
        padding-top: 178px;
    }
    .text{
        font-size: 14px;
    }
    .section-one{
        height: 870px;
    }
    .container-one{
        padding-top: 40px;
    }
    .title-one{
        font-size: 60px;
        margin: -60px 0 0 280px;
    }
    .title-two{
        font-size: 90px;
        margin: 186px 0 0 77px;
    }
    .title-three{
        font-size: 120px;
        margin: 250px 0 0 219px;
    }
    .title-four{
        font-size: 160px;
        margin: 340px 0 0 92px;
    }
    .copy-one{
        width: 350px;
        font-size: 12px;
        line-height: 14px;
        margin: 212px 0 0 400px;
    }
    .copy-one-bis{
        width: 350px;
        font-size: 12px;
        line-height: 14px;
        margin: 242px 0 0 400px;
    }
    .copy-two{
        width: 180px;
        font-size: 13px;
        line-height: 14px;
        margin: 295px 0 0 36px;
    }
    .copy-three{
        width: 280px;
        font-size: 11px;
        line-height: 14px;
        margin: 388px 0 0 505px;
    }
    .copy-four{
        width: 440px;
        font-size: 13px;
        line-height: 14px;
        margin: 526px 0 0 98px;
    }
    .boxes-two{
        padding-top: 600px;
    }
    .section-two{
        height:2600px;
    }
    .box{
      height: 20%;
    }
    .xs{
      margin-top: 50%;
    }
    .sm{
      margin-top: 30%;
    }
    .lg{
      margin-top: 20%;
    }
    .boxes-lg{
      margin-top: 10%;
    }
    .xl{
      margin-top: 0;
    }
    .boxes-xl{
      margin-top: 0;
    }
    .size-text{
       font-size: 18px;
       line-height: 20px;
    }
    .mail{
        margin-top: -140px;
        margin-left: 450px;
    }
  
}
@media only screen and (min-width: 300px) and (max-width: 767px){
    .section-two{
        background-image: url(../../../public/img/Sizes.png);
        width: 100vw;
        height: 1000px;
        background-size: cover;
        margin: 0;
        text-align: center;
    }
    .big-box{
        padding: 0 40px;
        text-align: center;
    }
    .xs{
        margin-top: 170px;
        margin-left: 0;
    }
    .size-text{
        font-size: 16px;
        text-align: center;
        line-height: 16px;
    }
    .sm{
        margin-top: 330px;
        margin-left: 0px;
    }
    .md{
        margin-top: 470px;
        margin-left: 0px;
    }
    .lg{
        margin-top: 640px;
        margin-left: 0px;
    }
    .xl{
        margin-top: 790px;
        margin-left: 0px;
    }
    .boxes-xs .boxes-sm .boxes-md .boxes-lg .boxes-xl{
        display: none;
    }
    .footer-bubble{
        width: 60%;
        padding:0;
    }
    .mail{
        margin-top: -40px;
        margin-left: 170px;
    }

    
}