.background-home{
  width: 100%;
  background-color: #0C0A07;
  
}
.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  margin-bottom: 15%;

}
.bubble-img{
  position: absolute;
  margin: -100px 0 0 -150px;
  padding: 0;
  z-index: 1;
}
.menu {
  display: flex;
  grid-column: 4/7 ;
  z-index: 10;
}
.menu-item {
  font-size: 11px;
  color: #928b7b;
  margin-right: 45px;
  font-weight: 600;
}
.menu-item:hover {
  font-size: 11px;
  color: #e0d4b9;
  margin-right: 45px;
  font-weight: 600;
}
.home-title {
  font-size: 40px;
  font-weight: 300;
  color: #2fa5be;
  grid-column: 4/6;
  grid-row-start: 4;
  padding-top: 80px;
  margin: auto 0 0 0;
  
}
.home-text {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  margin-bottom: 12px;
  grid-row: 3;
  grid-column: 6;
}
.text {
  color: #2fa5be;
  line-height: 4px;
  font-size: 16px;
  margin-bottom: -1px;
  text-align: right;
  margin-right: 40px;
  font-weight: 300;
}
.boxes {
  grid-column: 6;
  margin: 0px 0 0 auto;
  grid-row: 4;
}
.section-one {
  width: 100%;
  height: 1200px;
  background: linear-gradient(
    180deg,
    rgb(132, 121, 104),
    rgba(231, 219, 195, 1)
  );
  padding: 0;
}
.container-one {
  text-align: center;
  margin: 100px auto;
  width: 100%;

}
.title-one {
  color: #a5e8f5;
  font-size: 75px;
  font-weight: 500;
  margin: 0;
  padding-top: 200px;
  position: absolute;
  margin: -60px 0 0 541px;
}
.title-two {
  color: #2fa5be;
  font-size: 124.032px;
  font-weight: 600;
  position: absolute;
  margin: 190px 0 0 260px;
}
.title-three {
  color: #177c90;
  font-size: 186.048px;
  font-weight: 700;
  position: absolute;
  margin: 270px 0 0 452px;
}
.title-four {
  color: #064855;
  font-size: 248.064px;
  font-weight: 800;
  margin: 400px 0 0 254px;
  position: absolute;
}
.copy-one {
  width: 400px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 230px 0 0 705px;
}
.copy-one-bis {
  width: 400px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 266px 0 0 705px;
}
.copy-two {
  width: 300px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 340px 0 0 150px;
}
.copy-three {
  width: 400px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 485px 0 0 890px;
}
.copy-four {
  width: 440px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  margin: 680px 0 0 264px;
}
.boxes-two {
  float: right;
  padding-top: 800px;
}
.section-two {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.section-two img{
  width: 70%;
  margin: 0 auto;
  object-fit: cover;
  background-size: contain;
  z-index: 1;
}
.over-img{
  z-index: 3;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
.box{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content:space-between ;
}
.size-text {
  color: #e0d4b9;
  padding: 0;
  margin: 0;
  font-size: 28px;
  line-height: 30px;
  text-align: left;
}
.xs {
  margin-top: 27%;
  margin-left: 25%;
}
.boxes-xs {
  margin-top: 23%;
}
.square {
  width: 33px;
  height: 33px;
  color: #131210;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  padding-top: 6px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.square-color-one {
  background-color: #e7dbc3;
}
.square-color-two {
  background-color: #c4b8a0;
}
.square-color-three {
  background-color: #928b7b;
}
.square-color-four {
  background-color: #686257;
}
.square-color-five {
  background-color: #49463e;
}
.see-more {
  color: #177c90;
  float: right;
  margin-top: 0;
}
.sm {
  margin-top: 9%;
  margin-left: 40%;
}
.boxes-sm {
  margin-top:6%;
}
.md {
  margin-top: 17%;
  margin-left: 20%;
}
.boxes-md {
  margin-top: 12%;
}
.lg {
  margin-top: 18%;
  margin-left: 46%;
}
.boxes-lg {
  margin-top: 15%;
}
.xl {
  margin-top: 10%;
  margin-left: 42%;
  margin-bottom: 30%;
}
.boxes-xl {
  margin-top: 7%;
}
.footer-background {
  background-color: #010101;
  display: flex;
  justify-content: space-between;
}
.footer-bubble {
  width: 80%;
  padding: 150px 0 80px 150px;
}
.mail {
  color: #a5e5f2;
  position: absolute;
  margin-top: -150px;
  margin-left: 620px;
}
.icon-box{
  color: #a5e5f2;
  width: 5%;
  margin-top: 21%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #a5e5f2;
  padding-left: 1rem;
  gap: 1rem
}
.icon{
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 0;
}
.social-link{
  color: #a5e5f2;
}
.sign {
  color: #686257;
  padding: 20px 0 20px 20px;
  font-size: 12px;
  margin: 0;
  background-color: #010101;
}

@media only screen and (min-width: 1081px) and (max-width: 1261px) {
  .section-one {
    height: 1000px;
  }
  .title-one {
    font-size: 70px;
    margin: -60px 0 0 430px;
  }
  .title-two {
    font-size: 110px;
    margin: 190px 0 0 181px;
  }
  .title-three {
    font-size: 140px;
    margin: 270px 0 0 352px;
  }
  .title-four {
    font-size: 200px;
    margin: 370px 0 0 172px;
  }
  .copy-one {
    width: 400px;
    font-size: 13px;
    line-height: 16px;
    margin: 230px 0 0 575px;
  }
  .copy-one-bis {
    width: 400px;
    font-size: 13px;
    line-height: 16px;
    margin: 262px 0 0 575px;
  }
  .copy-two {
    width: 270px;
    font-size: 13px;
    line-height: 16px;
    margin: 324px 0 0 80px;
  }
  .copy-three {
    width: 360px;
    font-size: 13px;
    line-height: 16px;
    margin: 438px 0 0 685px;
  }
  .copy-four {
    width: 440px;
    font-size: 13px;
    line-height: 16px;
    margin: 596px 0 0 180px;
  }
  .boxes-two {
    padding-top: 650px;
  }
  .size-text {
    font-size: 20px;
    line-height: 22px;
  }
.footer-bubble{
 width: 70%;
}
  .mail {
    margin-top: -140px;
    margin-left: 570px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
 
  .menu-item {
    margin-right: 20px;
  }
  .menu-item:hover {
    margin-right: 20px;
  }
  .bubble-img{
    width: 90%;
    margin: 0 0 0 -100px
  }
  .home-title {
    font-size: 30px;
  }
  .home-text {
    padding-top: 178px;
  }
  .text {
    font-size: 14px;
  }
  .section-one {
    height: 870px;
  }
  .container-one {
    padding-top: 40px;
    margin-left: 0;

  }
  .title-one {
    font-size: 50px;
    margin: -60px 0 0 280px;
  }
  .title-two {
    font-size: 70px;
    margin: 186px 0 0 167px;
  }
  .title-three {
    font-size: 90px;
    margin: 270px 0 0 219px;
  }
  .title-four {
    font-size: 120px;
    margin: 370px 0 0 142px;
  }
  .copy-one {
    width: 300px;
    font-size: 13px;
    line-height: 14px;
    margin: 212px 0 0 430px;
  }
  .copy-one-bis {
    width: 300px;
    font-size: 13px;
    line-height: 14px;
    margin: 242px 0 0 430px;
  }
  .copy-two {
    width: 175px;
    font-size: 13px;
    line-height: 14px;
    margin: 305px 0 0 36px;
  }
  .copy-three {
    width: 280px;
    font-size: 13px;
    line-height: 14px;
    margin: 378px 0 0 465px;
  }
  .copy-four {
    width: 410px;
    font-size: 13px;
    line-height: 14px;
    margin: 516px 0 0 147px;
  }
  .boxes-two {
    padding-top: 480px;
  }
  .xs{
    margin-top: 26%;
  }
  .sm{
    margin-left: 44%;
  }
  .md{
    margin-left: 30%;
    margin-top: 12%;
  }
  .lg{
    margin-top: 12% ;
    margin-left: 30%;
  }
  .size-text {
    font-size: 17px;
    line-height: 19px;
  }
  .footer-bubble{
    width: 60%;
    padding: 150px 0 80px 50px;
  }
  .mail {
    margin-top: -130px;
    margin-left: 400px;
  }
  .icon-box{
    margin-top: 40%;
  }
  .square {
    width: 22px;
    height: 22px;
    font-size: 16px;
    line-height: 18px;
    padding-top: 4px;
    margin-bottom: 8px;

  }
  .boxes-xs{
    margin-top: 20% ;
  }
  .boxes-sm{
    margin-top: 4%;
  }
  .boxes-md{
    margin-top: 8%;
  }
  .boxes-lg{
    margin-top: 6%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .bubble-img{
    width: 120%;
    margin: 10% 0 0 -150px
  }
  .menu{
    grid-column: 1/7;
    margin-left: 1rem;
  }
  .menu-item{
    margin-right: 2rem;
  }
  .home-title{
    font-size: 1.2rem;
    grid-row: 2;
    grid-column: 5/7;
    margin-top: 130%;
  }
  .boxes{
    margin-top: 20%;
  }
  .home-text{
    padding-top: 0px;
    grid-row: 5;
    margin-bottom: 70%;
  }
  .text{
    font-size: 14px;
  }
  .section-one{
    height: 800px;
  }
  .container-one{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .title-one {
    font-size: 2rem;
    position: static;
    margin: 0 auto;
    padding-top: 100px;
  }
  .title-two {
    font-size: 2.5rem;
    position: static;
    margin: 0 auto;
    padding-top: 10px;
  }
  .title-three {
    font-size: 3rem;
    position: static;
    margin: 0 auto;
    padding-top: 10px;
  }
  .title-four{
    font-size: 4rem;
    position: static;
    margin: 0 auto;
    padding-top: 10px;
  }
  .copy-one{
    width: 80%;
    position:static;
    margin: 0 auto;
    text-align: center;
  }
  .copy-two{
    width: 80%;
    position:static;
    text-align: center;
    margin: 0 auto;
  }
  .copy-one-bis{
    width: 80%;
    position:static;
    text-align: center;
    margin: 0 auto;
  }
  .copy-three{
    width: 80%;
    position:static;
    text-align: center;
    margin: 0 auto;
  }
  .copy-four{
      width: 80%;
      position:static;
      text-align: center;
      margin: 0 auto;
  }
  .boxes-two{
   display: none;
  }
  .section-two {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .box{
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .size-text {
    font-size: 1rem;
    text-align: center;
    line-height: 17px;
  }
  .xs {
    margin-left: 0;
    margin-top: 20%;
   
  }
  .sm{
    margin-left: 0;
    margin-top: 8%;
  }
  .md{
    margin-left: 0;
    margin-top: 8%;
  }
  .lg{
    margin-left: 0;
    margin-top: 8%;
  }
  .xl{
    margin-left: 0;
    margin-top: 8%;
  }
 .see-more{
  font-size: 12px;
  float: none;
  text-align: center;
 }
  .boxes-xs .boxes-sm .boxes-md .boxes-lg .boxes-xl {
    display: none;
  }
  .footer-bubble {
    width: 60%;
    padding: 20px;
  }
  .mail {
    font-size: 12px;
    margin-top: -45px;
    margin-left: 14rem;
  }
  .social-box{
    display: flex;
    margin-left: 14rem;
    flex-direction: column;
    gap: .6rem
  }
  .sign{
    padding-top: 3rem;
  }
}
@media only screen and (min-width: 1441px) {
  .over-img{
    width: 1440px;
  }
}

