@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Prompt', sans-serif;

}
a{
  text-decoration: none;
}
h1{
  margin: 0;
}
.icon {
  margin-top: 16px;
 }

 .top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 60px;
  left: 50%;
  z-index: 20;
}
.icon-style{
  background-color: transparent;
  border: 2px solid #177C90;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #177C90;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}

@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}